body {
  background-image: url('../public/fondo2.webp');
  background-size: cover;       /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-color: #000;          /* Opcional: color de fondo si sobra espacio alrededor de la imagen */
  min-height: 100vh;               /* Asegura que el fondo cubra la altura total de la pantalla */
}