body {
  background-image: url('../public/fondo2.webp');
  background-size: cover;       /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-color: #000;       /* Color de fondo si sobra espacio */
  min-height: 100vh;            /* Asegura que el fondo cubra la altura total */
  display: flex;
  justify-content: center;
  align-items: flex-start;      /* Alinea el contenido al inicio de la parte superior */
  padding-top: 10px;           /* Añade espacio en la parte superior para bajar el cofre */
  box-sizing: border-box;
}

.central-image {
  width: 100%;                   /* Ajusta el tamaño inicial de la imagen */
  max-width: 800px;             /* Tamaño máximo en pantallas grandes */
  margin: 15px auto;            /* Centra horizontalmente */
  display: block;
}

.custom-input {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 300px;
  height: 60px;
  font-size: 35px;
  background-color: #000000;  /* Amarillo opaco */
  color: rgb(255, 0, 0);
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium'; /* Fuente gótica */
  border: 2px solid #a82727;
  border-radius: 8px;
}

.submit-button {
  position: absolute;
  top: 83%;
  left: 43%;
  width: 200px;
  height: 60px;
  background-color: black;  /* Verde */
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.reset-button {
  position: absolute;
  top: 10px;          /* Ajusta la distancia desde el borde superior */
  left: 10px;         /* Ajusta la distancia desde el borde izquierdo */
  width: 200px;
  height: 60px;
  background-color: black;
  color: red;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium';
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.message {
  position: absolute;
  top: 3%;          /* Ajusta la distancia desde el borde superior */
  left: 37%;          /* Centra horizontalmente */
  font-size: 50px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium';
  color: #ff0000;
}

.digit-container {
  position: absolute;
  top: 40%;           /* Ajusta la posición vertical */
  left: 43%;          /* Ajusta la posición horizontal */
  width: 15%;           /* Tamaño adecuado para el contenedor */
  height: 40%;          /* Altura adecuada para el contenedor */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente los botones */
  align-items: center;     /* Centra verticalmente los botones */
  gap: 10px;               /* Ajusta el espacio entre los botones */
  pointer-events: none;    /* Ignora clics en el contenedor */
}

.digit-button {
  flex: 1 1 30%;           /* Asegura que cada botón ocupe el 30% del ancho del contenedor y se ajuste automáticamente */
  max-width: 50px;         /* Tamaño máximo de los botones */
  max-height: 50px;        /* Tamaño máximo de los botones */
  background-color: rgba(0, 0, 0, 0.9); /* Temporario para ver los botones */
  border: 1px solid #ff0000; /* Borde para ver los botones */
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  pointer-events: auto;    /* Habilita clics en los botones individuales */
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el texto dentro del botón */
}


.digit-button:hover {
  background-color: rgba(173, 174, 173, 0.4); /* Efecto hover para mejor visibilidad rgba(0, 255, 0, 0.4); o transparent*/
}

.success-container {
  text-align: center;
  margin-top: 50px;
}

.success-image {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.success-message {
  font-size: 50px;
  font-weight: bold;
  color: #ff0000;
  margin-top: 20px;
  background-color: #000000;
}



@media (max-width: 768px) { /* Ajustes para tablets y móviles */
  .central-image {
    width: 100%;                 /* Aumenta el tamaño en dispositivos pequeños */
    max-width: 400px;           /* Tamaño máximo en pantallas pequeñas */
    margin: 55px auto;            /* Centra horizontalmente */
    top: 40%;
  }

  .digit-container {
    top: 20%;           /* Ajusta la posición vertical */
    left: 50%;          /* Ajusta la posición horizontal */
    width: 60%;
    height: 50%;
  }

  .digit-button {
    width: auto;
    height: auto;
  }

  .reset-button {
    width: 100px;     /* Reduce el ancho en pantallas pequeñas */
    height: 30px;     /* Reduce la altura en pantallas pequeñas */
    font-size: 10px;  /* Reduce el tamaño de la fuente en pantallas pequeñas */
  }

  .submit-button {
    top: 60%;          /* Ajusta la posición en pantallas pequeñas */
    left: 30%;         /* Centra horizontalmente */
  }

  .custom-input {
    top: 20%;          /* Ajusta la posición en pantallas pequeñas */
    left: 27%;         /* Centra horizontalmente */  
    width: 200px;
    height: 60px;
    font-size: 25px;
  }

}

@media (max-width: 480px) { /* Ajustes adicionales para móviles pequeños */
  .central-image {
    width: 100%;                 /* Tamaño más grande en pantallas muy pequeñas */
    max-width: 400px;           /* Tamaño máximo para móviles pequeños */
    margin: 55px auto;            /* Centra horizontalmente */
    top: 70%;
  }

  .digit-container {
    top: 30%;           /* Ajusta la posición vertical */
    left: 24%;          /* Ajusta la posición horizontal */
    width: 55%;
    height: 40%;
  }

  .digit-button {
    width: auto;
    height: auto;
  }

  .reset-button {
    width: 100px;     /* Reduce el ancho en pantallas pequeñas */
    height: 30px;     /* Reduce la altura en pantallas pequeñas */
    font-size: 10px;  /* Reduce el tamaño de la fuente en pantallas pequeñas */
  }

  .submit-button {
    top: 70%;          /* Ajusta la posición en pantallas pequeñas */
    left: 25%;         /* Centra horizontalmente */
  }

  .custom-input {
    top: 20%;          /* Ajusta la posición en pantallas pequeñas */
    left: 24%;         /* Centra horizontalmente */  
    width: 200px;
    height: 60px;
    font-size: 25px;
  }
}

